<header>
    <!-- White row with logo centered -->
    <div class="white-row">
        <div class="center-content">
            <img src="assets/logo.webp" alt="Aashirwad Hotel Logo" class="image-width">
            <h2 class="logo_title">HOTEL AASHIRWAD</h2>
          </div>
    </div>
  
    <!-- Blue navigation bar with links -->
    <nav class="blue-nav">
      <a routerLink="/about">About</a>
      <a routerLink="/images">Gallery</a>
      <a routerLink="/contact">Contact Us</a>
    </nav>
  </header>
  