<div class="hotel-banner">
    <img src="../../assets/mountain1.jpg" alt="Hotel Aashirwad" class="banner-image">
    <h2 class="hotel-title">Hotel Aashirwad</h2>
    <!-- Hotel information and other content -->
  </div>
<div>
    <div class="hotel-info">
        Welcome to Aashirwad Hotel, nestled in the serene landscapes of Chamoli, Uttarakhand, along the scenic Badrinath Highway. Our hotel is a tranquil retreat, offering a perfect blend of comfort and nature's splendor.

Located on the banks of the majestic Alaknanda River, Aashirwad Hotel invites you to experience the beauty of Uttarakhand like never before. Surrounded by lush greenery and pristine mountain views, our hotel provides a peaceful sanctuary for travelers seeking rejuvenation and tranquility.

Conveniently situated near popular destinations such as Chopta and Badrinath, Aashirwad Hotel serves as an ideal base for exploring the breathtaking sights and spiritual wonders of the region. Whether you're embarking on a pilgrimage to Badrinath or indulging in outdoor adventures in Chopta, our hotel offers a restful haven to return to after a day of exploration.

At Aashirwad Hotel, we pride ourselves on providing a warm and welcoming atmosphere for our guests. Our spacious parking area ensures a hassle-free arrival, while our well-maintained playground offers a delightful space for children to play and unwind.

Experience the essence of Uttarakhand hospitality at Aashirwad Hotel, where every moment is infused with comfort, beauty, and serenity. We look forward to welcoming you and creating unforgettable memories amidst the enchanting landscapes of Chamoli.
    </div>
</div>
<div class="hotel-awards">
    <div class="column">
      <img src="../../assets/award.png" alt="Award Image" class="award-image">
    </div>
    <div class="column">
      <h2>Award Winning</h2>
      <p>Discover why Aashirwad Hotel has been honored with prestigious awards...</p>
    </div>
</div>
<div class="hotel-theme">
    <div class="column">
      <img src="../../assets/room.png" alt="best rooms">
      <h3>Best Rooms</h3>
      <p>Experience our luxurious rooms designed to provide utmost comfort and relaxation.</p>
    </div>
    <div class="column">        
      <img src="../../assets/nature.png" alt="nature">
      <h3>Nature</h3>
      <p>Experience the beauty of Uttarakhand like never before. Surrounded by lush greenery and pristine mountain views.</p>
    </div>
    <div class="column">
      <img src="../../assets/wifi.png" alt="Wifi">
      <h3>Unlimited Wifi</h3>
      <p>Stay connected with high-speed, unlimited Wi-Fi access throughout your stay.</p>
    </div>
    <div class="column">
    <img src="../../assets/games.png" alt="games">
      <h3>Games & Activities</h3>
      <p>Enjoy a variety of games and activities tailored to enhance your leisure experience.</p>
    </div>
  </div>
  
  
