<div>
    <div class="rooms">
        <img src="../../assets/hotel_icon.png" alt="hotel icon">
        <h2>Our Hotel</h2>
    </div>
    <div class="slideshow-container">
        <!-- Slides -->
        <div class="hotelSlides fade">
            <img src="../../assets/hotel1.jpg" alt="Hotel 1">
        </div>
        <div class="hotelSlides fade">
            <img src="../../assets/hotel2.jpg" alt="Hotel 2">
        </div>
        <div class="hotelSlides fade">
            <img src="../../assets/hotel3.jpg" alt="Hotel 3">
        </div>
        <div class="hotelSlides fade">
            <img src="../../assets/hotel4.jpg" alt="Hotel 4">
        </div>
        <div class="hotelSlides fade">
            <img src="../../assets/hotel5.jpg" alt="Hotel 5">
        </div>
        <div class="hotelSlides fade">
            <img src="../../assets/hotel6.jpg" alt="Hotel 6">
        </div>
        <div class="hotelSlides fade">
            <img src="../../assets/hotel7.jpg" alt="Hotel 7">
        </div>
        <div class="hotelSlides fade">
            <img src="../../assets/hotel8.jpg" alt="Hotel 8">
        </div>
        <!-- Add more hotel images as needed -->

        <!-- Navigation arrows -->
        <a class="prev" (click)="plusSlides(-1, 'hotelSlides')">&#10094;</a>
        <a class="next" (click)="plusSlides(1, 'hotelSlides')">&#10095;</a>
    </div>
</div>

<div>
    <div class="rooms">
        <img src="../../assets/icon_room.png" alt="room icon">
        <h2>Our Rooms</h2>
    </div>
    <div class="slideshow-container">
        <!-- Slides -->
        <div class="mySlides fade">
            <img src="../../assets/room1.jpg" alt="Room 1">
        </div>
        <div class="mySlides fade">
            <img src="../../assets/room2.jpg" alt="Room 2">
        </div>
        <div class="mySlides fade">
            <img src="../../assets/room3.jpg" alt="Room 3">
        </div>
        <div class="mySlides fade">
            <img src="../../assets/room4.jpg" alt="Room 4">
        </div>
        <div class="mySlides fade">
            <img src="../../assets/room5.jpg" alt="Room 5">
        </div>
        <!-- Add more room images as needed -->

        <!-- Navigation arrows -->
        <a class="prev" (click)="plusSlides(-1, 'mySlides')">&#10094;</a>
        <a class="next" (click)="plusSlides(1, 'mySlides')">&#10095;</a>
    </div>
</div>
